.first-sec {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);

}

.sec-title {
    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
    color: #272727;
    font-family: Lato;
    font-size: 80px;

    font-weight: 800;

    margin-top: 197px;
    margin-left: 240px;

}

.sec-par {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
    margin-left: 240px;
    padding-top: 0;
    padding-bottom: 32px;
}

.sec-btn {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin-left: 240px;
}

.sec-image {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-right: 24px;
}


.hot-deal{
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
width: 1922px;
height: 620px;
flex-shrink: 0;
padding-top: 128px;
    
}

.deal-title{
    padding-top: 230px;
    padding-bottom: 162px;
}
.deal-had{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.Off{
 color: #E55473;
}

.deal-par{
    display: flex;
width: 594px;
flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.deal-btn{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
background: #E55473;
margin-left: 240px;
margin-bottom: 162px;
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.deal-photo{
    padding-top: 100px;
    padding-bottom: 100px;
}

/* insta nia kisu kaj */

.ins-title{
text-align: center;
padding-top: 28px;
}

.ins-had{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.ins-par{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}

.ins-photo{
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 48px;
    
}

.ins-i{
    width: 342px;
height: 396px;
flex-shrink: 0;
gap: 24px;
}

/* get deal nia kisu kaj */

.get-deal{
  background-image: url('../Flower Asset/Rectangle\ 9.png');
  background-repeat: no-repeat;
border-radius: 8px;
margin-left: 240px;
margin-top: 128px;
margin-bottom: 128px;

}

.get-title{
    text-align: center;
}

.get-had{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.get-par{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding-bottom: 48px;
}

.get-e{
    width: 700px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
}

.get-f{
    margin-bottom: 20px;
}
.get-btn{
    width: 150px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
background: #E55473;

}